<!DOCTYPE html>
<html lang="en">
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhật Ký Của Bạn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center" style="background-color: #E0ECF8">
    <img src="https://www.circul8.com.au/themagicsakura/images/0-BG-Footer.png" width="100%">
    <h1 class="display-3"><a href="public.html">Nhật Ký Online</a></h1>
    <p class="lead">Lưu trữ mọi khoảnh khắc...</p>
    <hr class="my-2">
    <p>Đăng nhập hoặc tạo tài khoản để bắt đầu.</p>
    <div class="alert alert-danger" th:if="${errorLogin != null}"
         style="text-align: left; color: red; font-weight: bold; font-size: 13px"
         th:text="${errorLogin}">
    </div>
    <form class="form-group" th:action="@{/login.html}" method="POST">
    <div class="form-group">
        <label>Tên Đăng Nhập</label><br>
        <input type="text" name="tenTaiKhoan" width="100px"><br>
        <label>Mật Khẩu</label><br>
        <input type="password" name="matKhau" width="100px">
    </div>
    <p class="lead">
        <button class="btn btn-primary btn-lg" type="submit" style="width: 170px">Đăng Nhập</button>
        <a class="btn btn-primary btn-lg" href="registration.html" role="button" style="width: 170px">Tạo Tài Khoản</a>
    </p>
    </form>
</div>
</body>
</html>