<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhật Ký Của Bạn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron" style="background-color: #E0ECF8">
    <div class="text-center">
        <img src="https://www.circul8.com.au/themagicsakura/images/0-BG-Footer.png" width="100%">
    <h1 class="display-3">Nhật Ký Online</h1>

    <p class="lead">Lưu trữ mọi khoảnh khắc...</p>
    <hr class="my-2">
        <th:block th:each="TaiKhoan : ${taiKhoan}">
            <span style="font-size: 20px">Chào Bạn :</span>
            <span style="color: brown; font-size: 30px" th:text="${taiKhoan.hoTen}"></span>
        </th:block>
    <p>Cảm xúc hôm nay của bạn thế nào ?</p>
    <br>
        <a href="/create.html" class="btn btn-primary" style="width: 170px;margin-left: 10px">Tạo Bài Viết</a>
        <a href="/info.html" class="btn btn-primary" style="width: 170px;margin-left: 10px">Thông Tin Cá Nhân</a>
        <a href="/view.html" class="btn btn-primary" style="width: 170px;margin-left: 10px">Danh Sách Bài Viết</a>
        <a href="/public.html" class="btn btn-primary" style="width: 170px;margin-left: 10px">Bài Viết Công Khai</a>
        <a href="/logout.html" class="btn btn-primary" style="width: 170px;margin-left: 10px">Đăng Xuất</a>
    </div>
    <br>
    <br>
    <hr class="my-2">
        <form th:action="@{/search.html}" th:object="${baiViet1}" method="POST">
            <label style="margin-left: 5px; font-size: 20px; color: brown ">Tiêu Đề Bài Viết :</label><br>
            <input type="text" th:field="*{TieuDe}" style="margin-left: 8px">
            <button type="submit" class="btn btn-primary" style="margin-left: 8px"> Tìm Kiếm</button>
        </form>
    <th:block th:each="BaiViet : ${baiViet}">
    <div style="width: 100%;height: 300px; margin: 10px;">
        <div style="width: 30%;height: 300px;float: left;">
            <img class="card-img-bottom" th:src="${BaiViet.anh}" alt="Card image" height="300px">
        </div>
        <div style="width: 65%;float: left;height: 50px;margin-left: 10px;">
            <h4 style="color: brown" class="card-title" th:text="${BaiViet.tieuDe}"> }</h4>
        </div>
        <div style="width: 65%;float: left;height: 20px;margin-left: 10px;">
            <span style="color: cornflowerblue" th:text="${BaiViet.ngay}"></span>
        </div>
        <div style="width: 65%;float: left;height: 20px;margin-left: 10px;">
            <br>
            <span style="color: cornflowerblue" th:text="${BaiViet.trangThai}?${'Công Khai'}:${'Cá Nhân'}"></span>
        </div>
        <div style="width: 65%;float: left;height: 180px;margin-left: 10px;">
            <br>
            <br>
            <p class="card-text" th:text="${BaiViet.moTa}"></p>
        </div>
        <div style="float: right;">
            <a th:href="@{/deletePost/__${BaiViet.MaBaiViet}__}" class="btn btn-primary" style="margin-right: 50px;width: 120px">Xóa</a>
        </div>
        <div style="float: right;">
            <a th:href="@{/editPost/__${BaiViet.MaBaiViet}__}" class="btn btn-primary" style="margin-right: 10px;width: 120px">Sửa Bài Viết</a>
        </div>
        <div style="float: right;">
            <a th:href="@{/viewPost/__${BaiViet.MaBaiViet}__}" class="btn btn-primary" style="margin-right: 10px;width: 120px">Xem thêm</a>
        </div>
    </div>
        <hr>
        <br>
    </th:block>
</div>
</body>
</html>